* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

#board {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
}

#board td {
  width: 8px;
  height: 8px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
}

#pause-modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;

  width: 600px;
  height: 200px;
  border-radius: 10px;
  padding: 20px;

  background-color: rgba(0, 128, 255, 0.8);
  color: white;
}

#game-over-modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  width: 600px;
  height: 200px;
  border-radius: 10px;
  padding: 20px;

  background-color: rgba(255, 38, 0, 0.8);
  color: white;
}

#pause-modal-button-continue {
  cursor: pointer;

  border: none;
  border-radius: 20px;
  padding: 10px;

  color: white;
  background-color: rgb(98, 56, 248);
}

.score-container {
  display: flex;
  padding: 10px;
  gap: 5px;

  border: 2px solid green;

  color: white;
  background-color: green;
}

.menu-container-bottom {
  display: flex;
  width: 406px;
  justify-content: center;
}

.menu-container-top {
  display: flex; 
  width: 406px; 
  justify-content: space-between;
}

.menu-icon {
  width: 20px;
  cursor: pointer;
}

.pause-modal-section {
  display: flex; 
  width: 100%; 
  justify-content: center;
}

.pause-modal-content {
  display: flex;
  width: 100%; 

  justify-content: center;
  align-items: center;
  gap: 20px;
}

.reload-button {
  cursor: pointer;

  border: none;
  border-radius: 20px;
  padding: 10px;

  color: white;
  background-color: rgb(98, 56, 248);
}

body {
  overflow-y: hidden;
}
